In [1]:
dict1 = {
    'fruits' : ['Apple', 'Mango', 'Banana'],
    'Prices' : [100, 80, 60]
}

In [2]:
type(dict1)

dict

In [3]:
dict1['fruits']

['Apple', 'Mango', 'Banana']

In [4]:
dict1 = {
    'fruits' : ['Apple', 'Mango', 'Banana'],
    'Prices' : [100, 80, 60],
    'Vegies' : 'Pumpkin',
    'Vegies' : 'Potato'
}

In [5]:
dict1

{'fruits': ['Apple', 'Mango', 'Banana'],
 'Prices': [100, 80, 60],
 'Vegies': 'Potato'}

In [27]:
dict1.keys()

dict_keys(['fruits', 'Prices', 'Vegies'])

In [7]:
list(dict1.keys())

['fruits', 'Prices', 'Vegies']

In [9]:
dict1.values()

dict_values([['Apple', 'Mango', 'Banana'], [100, 80, 60], 'Potato'])

In [10]:
dict1.items()

dict_items([('fruits', ['Apple', 'Mango', 'Banana']), ('Prices', [100, 80, 60]), ('Vegies', 'Potato')])

In [12]:
res = list(dict1.items())

In [13]:
res

[('fruits', ['Apple', 'Mango', 'Banana']),
 ('Prices', [100, 80, 60]),
 ('Vegies', 'Potato')]

In [14]:
type(res[0])

tuple

In [15]:
type(res[0][1])

list

In [16]:
res[0]

('fruits', ['Apple', 'Mango', 'Banana'])

In [17]:
res[0][1]

['Apple', 'Mango', 'Banana']

In [19]:
type(list(dict1.keys())[0])

str

In [21]:
type(res[0][0])

str

In [28]:
dict1

{'fruits': ['Apple', 'Mango', 'Banana'],
 'Prices': [100, 80, 60],
 'Vegies': 'Potato'}

In [29]:
dict1[99] = [9,99,999]

In [30]:
dict1

{'fruits': ['Apple', 'Mango', 'Banana'],
 'Prices': [100, 80, 60],
 'Vegies': 'Potato',
 99: [9, 99, 999]}

In [31]:
dict1['Vegies'] = 'spinach'

In [32]:
dict1

{'fruits': ['Apple', 'Mango', 'Banana'],
 'Prices': [100, 80, 60],
 'Vegies': 'spinach',
 99: [9, 99, 999]}

In [33]:
dict1.update({'Names': 'Vijay'})

In [34]:
dict1

{'fruits': ['Apple', 'Mango', 'Banana'],
 'Prices': [100, 80, 60],
 'Vegies': 'spinach',
 99: [9, 99, 999],
 'Names': 'Vijay'}

In [35]:
del dict1[99]

In [36]:
dict1

{'fruits': ['Apple', 'Mango', 'Banana'],
 'Prices': [100, 80, 60],
 'Vegies': 'spinach',
 'Names': 'Vijay'}

In [37]:
dict1.pop()

TypeError: pop expected at least 1 argument, got 0

In [38]:
dict1.pop("Names")

'Vijay'

In [39]:
dict1

{'fruits': ['Apple', 'Mango', 'Banana'],
 'Prices': [100, 80, 60],
 'Vegies': 'spinach'}

In [47]:
dict1['Prices'][1] = 70

In [49]:
dict1[1][1] = 70

KeyError: 1

In [48]:
dict1

{'fruits': ['Apple', 'Mango', 'Banana'],
 'Prices': [100, 70, 60],
 'Vegies': 'spinach'}

In [40]:
dict1['Vegies']

'spinach'

In [41]:
dict1[99]

KeyError: 99

In [42]:
dict1.get(99)

In [46]:
dict1.get('Vegies')

'spinach'

In [43]:
res[0][1]

['Apple', 'Mango', 'Banana']

In [44]:
'Mango' in res[0][1]

True

In [45]:
'Prices' in dict1

True

# Conditional Statements

In [51]:
a = 10

if a == 9:
    print('Yes')
else:
    print('No')

No

In [53]:
if a < 9:
    print('Bad')
    
elif a > 10:
    print('Good')
    
elif a == 10:
    print(10)
    
else:
    print('Awesome')

10

In [55]:
value = -20

if value >= 0:
    if value == 0:
        print('Number is zero')
    else:
        print('Positive number')
else:
    print('Negative number')

Negative number

In [56]:
value = 20

if value >= 0:
    if value == 0:
        print('Number is zero')
    else:
        print('Positive number')
else:
    print('Negative number')

Positive number

In [62]:
value = float(input())

if value >= 0:
    if value == 0:
        print('Number is zero')
    else:
        print('Positive number')
else:
    print('Negative number')

0.68
Positive number

In [63]:
10 % 2 == 0

True

In [66]:
d=int(input())

if d % 2==0:
    print('Even')
else:
    print('Odd')

11
Odd

In [73]:
inputs = map(int, ['10', '20'])
inputs

[10, 20]

In [82]:
inputs = list(map(int, input().split(',')))                           # split  ['10', '20', '30']

10, 20 , 30

In [ ]:
'10, 20 , 30'       ['10', '20', '30']

In [83]:
inputs

[10, 20, 30]

In [84]:
a, b , c  = inputs

In [85]:
c

30

In [86]:
b

20

In [ ]:
inputs = list(map(int, input().split(',')))       # will take n number of integers as input
a, b , c  = inputs

In [87]:
a = int(input('Enter 1st number : '))
b = int(input('Enter 2nd number : '))

Enter 1st number : 10
Enter 2nd number : 20

In [88]:
b

20

# Loops in Python

## For loop

In [93]:
lista = [1,2,3,4,5,6,7,8]

for a in lista:
    print(a)

1
2
3
4
5
6
7
8

In [98]:
list(range(1, 11, 2))

[1, 3, 5, 7, 9]

In [97]:
for i in range(1,11):
    print(i * 2)

2
4
6
8
10
12
14
16
18
20

In [101]:
for i in range(11,111, 10):
    print(i)

11
21
31
41
51
61
71
81
91
101

In [102]:
dict1.items()

dict_items([('fruits', ['Apple', 'Mango', 'Banana']), ('Prices', [100, 70, 60]), ('Vegies', 'spinach')])

In [103]:
for key, value in dict1.items():                
    print(key, value)

fruits ['Apple', 'Mango', 'Banana']
Prices [100, 70, 60]
Vegies spinach

In [104]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [105]:
for i in dict1.keys():
    print(i)

fruits
Prices
Vegies

In [108]:
len(dict1)

3

In [116]:
dict2 = {
    0 :  0,
    1  :  10,
    2  :  20,
    3  : 30
}

In [119]:
for i in range(4):
    print(dict2[i])

0
10
20
30

# while loop

In [125]:
a = 0

while a <= 5:
    print(a)
    a = a + 1

0
1
2
3
4
5

In [132]:
flag = 'y'

while flag == 'y' or flag == 'Y':
    j = int(input("Enter a number : "))
    print(j*j*j)
    
    inp = input("Press Y to continue or and other key to stop : ")
                
    if inp == 'y':
        pass
    else:
        flag = inp

Enter a number : 5
125
Press Y to continue or and other key to stop : y
Enter a number : 7
343
Press Y to continue or and other key to stop : d

In [131]:
for i in range(1,11):
    print(i)
    if i == 5:
        break

1
2
3
4
5

# Functions

In [133]:
def add(a, b):
    result = a + b
    print(result)

In [134]:
add(10, 15)

25

In [135]:
add(12, 15)

27

In [136]:
add(10, 25)

35

In [137]:
add(10)

TypeError: add() missing 1 required positional argument: 'b'

In [138]:
def product(a, b):
    res = a * b
    return res

In [139]:
result = product(2,3)
result

6

In [140]:
result = product(2,10)
result

20

In [141]:
lista = [1,2,3,4,5,6,7,8,9]

In [144]:
def filter_even(li):
    even_numbers = []
    
    for i in li:
        if i % 2 == 0:
            even_numbers.append(i)
            
    return even_numbers

In [143]:
result = filter_even(lista)
result

[2, 4, 6, 8]

In [145]:
def filter_odd(li):
    odd_numbers = []
    
    for i in li:
        if i % 2 != 0:
            odd_numbers.append(i)
            
    return odd_numbers

In [146]:
filter_odd(lista)

[1, 3, 5, 7, 9]

In [ ]:
args and kwargs