In [1]:
import calculator as c

In [2]:
c.addition(4,5)

9

In [3]:
c.multiplication(4,5)

20

In [4]:
from calculator import addition

In [5]:
addition(5,6)

11

In [6]:
from calculator import multiplication
from calculator import division

multiplication(6,7)

42

In [7]:
division(6,2)

3.0

In [8]:
from calculator import multiplication, division

# 6

In [9]:
li = [2,3,5,13,8,12]

In [10]:
max(li)

13

In [11]:
list(range(2,13))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [12]:
def check_prime_number(x):
    prime_numbers = []
    
    for i in x:                         # i =8
        flag = False
        
        for j in range(2,i):
            if i % j == 0:
                flag = True
                break
            
        if flag == False:
            prime_numbers.append(i)
            
    return prime_numbers

In [13]:
check_prime_number(li)

[2, 3, 5, 13]

a**3 + b**3 + c**3

153 = 1**3 + 5**3 + 3**3
153 = 1 + 125 + 27

In [14]:
1 + 125 + 27

153

In [15]:
def check_armstrong_num(number):
    
    last_digit = number%10
    middle_digit = (number//10) % 10
    first_digit = number//100
#     print (last_digit, middle_digit, first_digit)
    
    if number == last_digit**3 + middle_digit**3 + first_digit**3:
        print('The number is armstrong number')
        
    else:
        print('The number is not armstrong number')

In [16]:
check_armstrong_num(371)

The number is armstrong number

In [17]:
check_armstrong(153)

NameError: name 'check_armstrong' is not defined

In [18]:
check_armstrong(1634)

NameError: name 'check_armstrong' is not defined

153 % 10   = 3
153 // 10  = 15        15 % 10 = 5,,            15 // 10 == 1

In [22]:
num = int(input())

temp = num
Sum = 0

l = len(str(num))              

while temp > 0:
    
    digit = temp % 10                                     
    Sum = Sum + digit ** l                      
    temp = temp // 10                           
    
if Sum == num:
    print(num, 'is a Armstrong number')
else:
    print(num, 'is not a Armstrong number')

153
153 is a Armstrong number

In [23]:
def addition(a,b):
    return a+b
def subtraction(a,b):
    return a-b
def multiplication(a,b):
    return a*b
def division(a,b):
    return a/b

In [24]:
a = int(input())
b = int(input())

calc = {
    1 : addition,
    2 : subtraction,
    3 : multiplication,
    4 : division

}

inp = int(input('Press 1 for addition, press 2 for subtraction,'))

if inp in calc.keys():
    calc[inp](a,b)
else:
    print('Enter a valid number')

4
5
Press 1 for addition, press 2 for subtraction,1

# calc[1](4,5)

In [25]:
addition(44,5)

49

In [26]:
Number = int(input('Enter number of Fibonacci you want...(keep more than 2)'))

print('0 ', '1 ')

temp1 = 0
temp2 = 1

for i in range(1,Number):
    
    temp = temp1 + temp2
    print(temp)
    temp1 = temp2
    temp2 = temp

Enter number of Fibonacci you want...(keep more than 2)8
0  1
1
2
3
5
8
13
21

0 1 1 2 3 5 8 13 21

n1 n2 nth             nth  =  n1 + n2  =  3           |  n1  = 1    | n2 = 2

In [27]:
x = int(input('Enter a number'))

n1 = 0
n2 = 1

c = 0

while c < x:
    
    print(n1)
    
    nth = n1 + n2
    n1 = n2
    n2 =  nth

    c = c + 1

Enter a number8
0
1
1
2
3
5
8
13

In [29]:
nested_dictionary = {
    5: {'a': [[1,2],3], 'b': [2,[3,1]]},
    4: {'c': [[1,2],3], 'd': [[2],3,1]}
}


nested_dictionary

{5: {'a': [[1, 2], 3], 'b': [2, [3, 1]]},
 4: {'c': [[1, 2], 3], 'd': [[2], 3, 1]}}

In [30]:
a={2,3,5,6,3,6,4,6,4,6,7,3}
b={3,5,6,4,7,8,4,2,5,7,8,4}

# a.intersection(b)
a.union(b)

{2, 3, 4, 5, 6, 7, 8}

In [31]:
a & b

{2, 3, 4, 5, 6, 7}

In [32]:
a | b

{2, 3, 4, 5, 6, 7, 8}

In [33]:
list1 = [10,15,20]

dict1 = { "John": list1[0],
         "Mary": list1[1],
        "Stella": list1[2]
       }
dict1

{'John': 10, 'Mary': 15, 'Stella': 20}

In [34]:
tuple(dict1)

('John', 'Mary', 'Stella')

In [35]:
tuple(dict1.items())

(('John', 10), ('Mary', 15), ('Stella', 20))

In [36]:
c=[]
for i in range(1,100):
    if i%2==0:
        c.append(i)
print(c)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [41]:
even_50 = list(range(2,101, 2))

In [42]:
len(even_50)

50

In [43]:
even_50[::-1]

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2]

In [48]:
even_50.sort(reverse=False)

In [45]:
even_50

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [46]:
even_50.sort(reverse=True)

In [47]:
even_50

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2]

In [49]:
even_50

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [50]:
even_50.index(44)

21

In [51]:
even_50[21] = 100

In [52]:
even_50

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 100,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [53]:
c=[]
for i in range(1,100):
    if i%2==0:
        c.append(i*i)
print(c)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604]

In [55]:
c=[]
for i in even_50:
    c.append(i*i)
c

[4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 10000,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604,
 10000]