In [1]:
j = list(range(5,100,10))
j

[5, 15, 25, 35, 45, 55, 65, 75, 85, 95]

for loop

In [2]:
for i in j:
    print(i)
    print(i*2)
    print(i*i*i)
    print("=========")

5
10
125
=========
15
30
3375
=========
25
50
15625
=========
35
70
42875
=========
45
90
91125
=========
55
110
166375
=========
65
130
274625
=========
75
150
421875
=========
85
170
614125
=========
95
190
857375
=========

In [3]:
for i in range(1,10):
    print(i)
    print(i*2)
    print(i*i*i)
    print("=========")

1
2
1
=========
2
4
8
=========
3
6
27
=========
4
8
64
=========
5
10
125
=========
6
12
216
=========
7
14
343
=========
8
16
512
=========
9
18
729
=========

In [4]:
n = 0
while n<=10:
    print(n)
    n = n + 1

0
1
2
3
4
5
6
7
8
9
10

In [8]:
def addnumbers(n,m):
    print(n+m)

In [9]:
j = 'y'
while j == 'y':
    n = int(input())
    m = int(input())
    addnumbers(n,m)
    j = input("To continue pass y, else press pass any alpabet")

3
6
9
To continue pass y, else press pass any alpabety
7
8
15
To continue pass y, else press pass any alpabetf

In [19]:
n = 65

In [20]:
if n >= 60 and n <=90:
    print('avg')
elif n >= 90:
    print('good')
else:
    print('bad')

avg

In [22]:
for i in range(1,9):
    print(i)
    if i == 5:
        break

1
2
3
4
5

In [23]:
for i in range(1,1000):
    if i == 97:
        print(i)
        break

97

In [26]:
for i in range(1,9):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8

In [27]:
for i in range(1,9):
    if i != 5:
        continue
    print(i)

5

In [31]:
for i in range(1,3):
    
    for j in range(1,11):
        print(i, "*", j, "=", i*j)
    print('==================')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
==================
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
==================

In [32]:
dict1 = {
    1: 'Veer',
    2: 'Karan',
    3: 'Swajit'
}

In [33]:
dict1[1]

'Veer'

In [34]:
dict1.get(1)

'Veer'

In [40]:
for i,j in dict1.items():
    if j == 'Veer':
        print(i)

1

In [37]:
dict1.items()

dict_items([(1, 'Veer'), (2, 'Karan'), (3, 'Swajit')])

In [41]:
for i,j in dict1.items():
        print(i,j)

1 Veer
2 Karan
3 Swajit