# Conditional statements

In [1]:
# if , else, elif

In [8]:
a = int(input('Enter a number : '))

Enter a number : 10

In [5]:
if a == 10:
    print(a)
else:
    print(a - 10)

-1

In [9]:
if a > 10:
    print(a)
elif a == 10:
    print(10*10)
else:
    print(a - 10)

100

In [12]:
a=10
b=15
c=10
if a>b:
    print(a)
elif b>c:
    print(b)
else:
    print(c)

15

In [13]:
if a>b>c:
     print('A is geater than all',a)
elif b>a>c:
        print('B is greater than all',b)
else:
            print('c is greater')

c is greater

In [14]:
a, b , c = list(map(int, input().split(',')))

10,15,12

In [15]:
a

10

In [16]:
b

15

In [17]:
c

12

In [ ]:
'10,15,12'   split --> ['10', '15', '12']  map  -->     [10, 15, 12]

In [18]:
if a > b:
    if a > c:
        print(a)
elif b > c:
    if b > a:
        print(b)
else:
    print(c)

15

In [19]:
if a == 10 and b == 12:
    print('Python')
else:
    print('Java')

Java

In [22]:
a= int(input("Enter Value for A: "))

if a>=0:
    print("A is a positive number")
else:
    print("A is a negative number")

Enter Value for A: 0
A is a positive number

In [27]:
number = float(input("Enter a number: "))

if number >= 0:
    if number == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number: 0
Zero

# Loops in Python

## For loop

In [29]:
lista = list(range(10))
lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
for i in lista:
    print('Element : ', i)
    print(i*10)

Element :  0
0
Element :  1
10
Element :  2
20
Element :  3
30
Element :  4
40
Element :  5
50
Element :  6
60
Element :  7
70
Element :  8
80
Element :  9
90

In [33]:
names = ['Ajay', 'Shashank', "karthik"]

for j in names:
    print(j)

Ajay
Shashank
karthik

## Nested for loop

In [38]:
for i in range(2,4):                  #   i = 3
    for j in range(1,11):             #  j  = 3
        print(i, '*', j, ' = ', i*j)
    print('=============')

2 * 1  =  2
2 * 2  =  4
2 * 3  =  6
2 * 4  =  8
2 * 5  =  10
2 * 6  =  12
2 * 7  =  14
2 * 8  =  16
2 * 9  =  18
2 * 10  =  20
=============
3 * 1  =  3
3 * 2  =  6
3 * 3  =  9
3 * 4  =  12
3 * 5  =  15
3 * 6  =  18
3 * 7  =  21
3 * 8  =  24
3 * 9  =  27
3 * 10  =  30
=============

## while loop

In [42]:
a = 0

while a < 5:
    print(a)
    a = a + 1

0
1
2
3
4

In [44]:
flag = 'y'

while flag == 'y':
    j = int(input('Enter a number : '))
    print('Cube of number  : ',  j*j*j)
    
    inp = input('Press "y" to continue or press any other key to stop : ')
    
    if inp == 'y':
        pass
    else:
        flag = inp

Enter a number : 3
Cube of number  :  27
Press "y" to continue or press any other key to stop : y
Enter a number : 7
Cube of number  :  343
Press "y" to continue or press any other key to stop : u

0

# Functions in python

In [54]:
def add_numbers(a,b):
    print(a + b)

In [48]:
add_numbers(2,3)

5

In [49]:
add_numbers(10,15)

25

In [51]:
add_numbers(20,30)

50

In [60]:
add_numbers(20)

TypeError: add_numbers() missing 1 required positional argument: 'b'

In [58]:
def add_numbers2(a, b = 10):
    res = a + b
    return res

In [61]:
result = add_numbers2(20, 30)
result

50

In [59]:
add_numbers2(20)

30

In [64]:
List=[1,2,3,4,5,6,7,8,9,12,13,14]


def get_even_numbers(numbers):
    even_numbers = []
    
    for i in numbers:
        if i%2 == 0:
            even_numbers.append(i)
            
    return even_numbers

In [65]:
print(get_even_numbers(List))

[2, 4, 6, 8, 12, 14]

## Args in methods|

In [82]:
def make_even(*x):
    
    even_numbers = []
    
    for i in x:
        if i%2 == 0:
            even_numbers.append(i)
            
    return even_numbers

In [83]:
result = make_even(3,6,9,7,10)
result

[6, 10]

# Lambda function

In [86]:
lamda_func = lambda y : y**y
print(lamda_func(2))

4

In [100]:
tables = [lambda x=x : x*10 for x in range(1,11)]

for i in tables:
    print(i())

# tables

10
20
30
40
50
60
70
80
90
100

In [90]:
max = lambda a,b : a if (a > b) else b*2

print(max(5,10))

10

In [ ]:
1   *
2   **
3

In [104]:
for i in range(1,6):
    print('*' * i)

*
**
***
****
*****

In [105]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [106]:
for i in range(1,6):
    print('* '*i)

*
* *
* * *
* * * *
* * * * *

In [ ]:
* * * * *
* * * *
* * *
* *
*

In [107]:
for i in range(1,6):
    print('* '*(6-i))

* * * * *
* * * *
* * *
* *
*

In [ ]:
      *               6  1
    * * *             4  3
  * * * * *           2  5
* * * * * * *                             n = 4

In [ ]:
2i - 1   

2 -1  = 1
4 - 1 =  3


(n-i)*2
3 * 2  = 6
2 * 2 =  4

In [114]:
n = int(input("Enter the number of rows : "))

for i in range(1, n+1):
    j = (n-i)*2
    print(j * ' ', (2*i - 1)* '* ')

Enter the number of rows : 20
                                       *
                                     * * *
                                   * * * * *
                                 * * * * * * *
                               * * * * * * * * *
                             * * * * * * * * * * *
                           * * * * * * * * * * * * *
                         * * * * * * * * * * * * * * *
                       * * * * * * * * * * * * * * * * *
                     * * * * * * * * * * * * * * * * * * *
                   * * * * * * * * * * * * * * * * * * * * *
                 * * * * * * * * * * * * * * * * * * * * * * *
               * * * * * * * * * * * * * * * * * * * * * * * * *
             * * * * * * * * * * * * * * * * * * * * * * * * * * *
           * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
         * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
       * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [115]:
j  = lambda x : x*2
print(j(5))

10